.navigationbar{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    background: rgb(25, 125, 213);
    display: flex;
    justify-content:space-evenly;
}
.home{
    margin: 20px;
 color: black;
 font-weight: 500;
 font: caption;
 font-size: large;
}
.cat{
    margin: 20px;
    color: black;
    font-weight: 500;
    font: caption;
    font-size: large;
}